.exams-management-container {
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;
}

.combobox {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.combobox label {
    font-weight: bold;
}

.exam-card {
    background-image: url(../../../public/exam_background.jpg);
    background-position: center;
    background-size: cover;
    width: 30%;
    height: 16em;
    border-radius: 0.4em;
    border: 2px solid var(--selected-color);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: bold;
    justify-content: center;
    transition: ease-in 200ms;
}

.exam-card label {
    color: var(--primary-color);
}

.exam-card:hover {
    scale: 1.05;
    cursor: pointer;
}

.list-exams-container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}