.question-management-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;
}

.question-card ol{
    margin-left: 2em;
}

.questions-container{
    margin-left: 2em;
}