.exam-management-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    padding: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.combobox {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

label {
    font-weight: bold;
}