.exam-management-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    padding: 1em;
}

.exam-management-container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.exam-management-container .combobox {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.exam-management-container label {
    font-weight: bold;
}