.form-question-unique-answord {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    padding: 1em;
}

.answer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.answer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.answer-content{
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;
    border-radius: 0.4em;
}